.tableTextRight
{
    text-align:right;


}
.tableTextLeft
{
    text-align:left;

}

.invoiceTable {


}

.tabletextsingle{
    text-align:right;
}
.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.table td, .table th {
    padding:0px;
    vertical-align: top;
    border-top: 1px solid #ffffff !important;

}
